{
	"NPC":[
		{"Location":[31120, 968, 23308], "Angle":[0, 3929, 0], "Script":"data/npc/yura-force-master.groovy"}, 
		{"Location":[30690, 993, 24054], "Angle":[0, 5394, 0], "Script":"data/npc/yura-store.groovy"}, 
		{"Location":[30197, 1103, 23596], "Angle":[0, 4064, 0], "Script":"data/npc/yura-warehouse.groovy"}, 
		{"Location":[31037, 1035, 26072], "Angle":[0, 2156, 0], "Script":"data/npc/yura-guard.groovy"}],
	"Creature":{
		"LimitMax":100,
		"OpenLimit":1,
		"OpenInterval":31,
		"MonsterList":[
			{"Name":"装甲战神", "Percentage":25}, 
			{"Name":"兽王之魂", "Percentage":25}, 
			{"Name":"米兰达", "Percentage":5}, 
			{"Name":"人马皇后", "Percentage":25}, 
			{"Name":"雪狼", "Percentage":20}],
		"BossList":[]
	},
	"RespawnPoint":[[0, 30035,23463]]
}