{
	"NPC":[
		{"Location":[-995, 179, -17348], "Angle":[0, 5193, 0], "Script":"data/npc/ricarden-equip2.groovy"}, 
		{"Location":[1699, 216, -17978], "Angle":[0, 5087, 0], "Script":"data/npc/real_clanmaster.groovy"}, 
		{"Location":[2359, 175, -15424], "Angle":[0, 3985, 0], "Script":"data/npc/ricarden-guard1.groovy"}, 
		{"Location":[2497, 175, -15417], "Angle":[0, 4201, 0], "Script":"data/npc/ricarden-guard2.groovy"}, 
		{"Location":[2332, 211, -17740], "Angle":[0, 2112, 0], "Script":"data/npc/ricarden-equip1.groovy"}, 
		{"Location":[2598, 329, -18880], "Angle":[0, 4103, 0], "Script":"data/npc/ricarden-master.groovy"}, 
		{"Location":[-736, 219, -16552], "Angle":[0, 6243, 0], "Script":"data/npc/ricarden-imbue.groovy"}, 
		{"Location":[1764, 233, -19031], "Angle":[0, 2050, 0], "Script":"data/npc/ricarden-guard.groovy"}, 
		{"Location":[-102, 205, -17155], "Angle":[0, 2120, 0], "Script":"data/npc/ricarden-warehouse.groovy"}, 
		{"Location":[-301, 152, -18058], "Angle":[0, 4088, 0], "Script":"data/npc/ricarden-store.groovy"}, 
		{"Location":[2634, 236, -18169], "Angle":[0, 4017, 0], "Script":"data/npc/derik.groovy"}, 
		{"Location":[1950, 211, -17573], "Angle":[0, 2860, 0], "Script":"data/npc/itempost.groovy"}, 
		{"Location":[213, 205, -17619], "Angle":[0, 3434, 0], "Script":"data/npc/sod_05.groovy"}, 
		{"Location":[505, 207, -19082], "Angle":[0, 3500, 0], "Script":"data/npc/wfzone.groovy"}, 
		{"Location":[-570, 205, -17074], "Angle":[0, 2868, 0], "Script":"data/npc/ji_woo.groovy"}, 
		{"Location":[1739, 237, -18257], "Angle":[0, 5073, 0], "Script":"data/npc/force-master.groovy"}, 
		{"Location":[514, 205, -18048], "Angle":[0, 3000, 0], "Script":"data/npc/salon.groovy"}, 
		{"Location":[-888, 152, -17750], "Angle":[0, 6243, 0], "Script":"data/npc/jin.groovy"}, 
		{"Location":[20, 178, -16878], "Angle":[0, 6243, 0], "Script":"data/npc/t_messenger.groovy"}, 
		{"Location":[1606, 216, -17702], "Angle":[0, 4792, 0], "Script":"data/npc/crystal.groovy"}, 
		{"Location":[100, 205, -17827], "Angle":[0, 4088, 0], "Script":"data/npc/m_messenger.groovy"}, 
		{"Location":[547, 205, -17247], "Angle":[0, 3000, 0], "Script":"data/npc/packjjangpy.groovy"}, 
		{"Location":[159, 205, -18068], "Angle":[0, 5193, 0], "Script":"data/npc/ruiden-goblin.groovy"}, 
		{"Location":[167, 205, -18296], "Angle":[0, 5193, 0], "Script":"data/npc/ruiden-buma.groovy"}, 
		{"Location":[-736, 232, -16440], "Angle":[0, 6243, 0], "Script":"data/npc/ricarden-stone.groovy"}, 
		{"Location":[2600, 329, -19008], "Angle":[0, 4103, 0], "Script":"data/npc/ricarden-quest.groovy"}, 
		{"Location":[438, 205, -18849], "Angle":[0, 2500, 0], "Script":"data/npc/crystalman.groovy"}, 
		{"Location":[297, 211, -17077], "Angle":[0, 5193, 0], "Script":"data/npc/adevayo.groovy"}]}