<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.logdb.mapper.OnlineRewardLogMapper">

    <!-- C++ eventserver.cpp:505 -->
    <insert id="insertOnlineRewardLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO logdb.online_reward_log (account_name, name, item_name, quantity, date) VALUES (#{accountName}, #{name}, #{itemName}, #{quantity}, CURRENT_TIMESTAMP)
    </insert>

</mapper>
