<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.logdb.mapper.UsersOnlineRecordMapper">

    <!-- C++ logserver.cpp:1246 -->
    <insert id="insertUsersOnlineRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO logdb.users_online_record (users_online_sub_server1, users_online_sub_server2, users_online_sub_server3, total_users_online, date)
        VALUES (#{usersOnlineSubServer1}, #{usersOnlineSubServer2}, #{usersOnlineSubServer3}, #{totalUsersOnline}, CURRENT_TIMESTAMP)
    </insert>

</mapper>
