{
	"Creature":{
		"LimitMax":160,
		"OpenLimit":2,
		"OpenInterval":31,
		"MonsterList":[
			{"Name":"冰甲无双", "Percentage":15}, 
			{"Name":"冰风女妖", "Percentage":10}, 
			{"Name":"冰甲独眼", "Percentage":15}, 
			{"Name":"冰风魔王", "Percentage":2}, 
			{"Name":"霸天龟", "Percentage":10}, 
			{"Name":"寒霜魔", "Percentage":13}, 
			{"Name":"冰石人", "Percentage":13}, 
			{"Name":"神秘尖晶石", "Percentage":20}, 
			{"Name":"卡奥斯", "Percentage":2}],
		"BossList":[
			{"Name":"凯尔维苏", "Slave":"卡奥斯", "SlaveCnt":8, "OpenTime":[15, 22]}]
	},
	"RespawnPoint":[[1, 32665,52032], [1, 33019,52610], [1, 33310,52035], [1, 32791,52359], [1, 32787,52854], [1, 33289,52795], [1, 33279,52280]]
}