{
	"NPC":[
		{"Location":[35338, 461, -23135], "Angle":[0, 2058, 0], "Script":"data/npc/bcn02.groovy"}, 
		{"Location":[36241, 398, -23257], "Angle":[0, 2609, 0], "Script":"data/npc/bcn03.groovy"}, 
		{"Location":[33879, 493, -23304], "Angle":[0, 5689, 0], "Script":"data/npc/bcn04.groovy"}, 
		{"Location":[35084, 749, -32323], "Angle":[0, 3527, 0], "Script":"data/npc/bcn01.groovy"}, 
		{"Location":[34007, 749, -32378], "Angle":[0, 4283, 0], "Script":"data/npc/bcn06.groovy"}, 
		{"Location":[34550, 749, -32302], "Angle":[0, 4112, 0], "Script":"data/npc/bcn05.groovy"}, 
		{"Location":[34530, 671, -24971], "Angle":[0, 4320, 0], "Script":"data/npc/blesscatle-guard.groovy"}]}