{
	"NPC":[
		{"Location":[1909, 460, 73548], "Angle":[0, 5928, 0], "Script":"data/npc/phillay-civilian1.groovy"}, 
		{"Location":[2101, 544, 75132], "Angle":[0, 6215, 0], "Script":"data/npc/phillay-civilian2.groovy"}, 
		{"Location":[2063, 455, 73553], "Angle":[0, 2607, 0], "Script":"data/npc/phillay-dragoman.groovy"}, 
		{"Location":[3326, 544, 74299], "Angle":[0, 2190, 0], "Script":"data/npc/phillay-equip1.groovy"}, 
		{"Location":[3073, 544, 74456], "Angle":[0, 2886, 0], "Script":"data/npc/phillay-equip2.groovy"}, 
		{"Location":[1885, 449, 73268], "Angle":[0, 2074, 0], "Script":"data/npc/phillay-guard1.groovy"}, 
		{"Location":[2094, 449, 73253], "Angle":[0, 2348, 0], "Script":"data/npc/phillay-guard2.groovy"}, 
		{"Location":[1044, 654, 76001], "Angle":[0, 5552, 0], "Script":"data/npc/phillay-imbue.groovy"}, 
		{"Location":[3170, 562, 75480], "Angle":[0, 3086, 0], "Script":"data/npc/phillay-master.groovy"}, 
		{"Location":[3425, 544, 73787], "Angle":[0, 3691, 0], "Script":"data/npc/phillay-store.groovy"}, 
		{"Location":[1333, 544, 74923], "Angle":[0, 1915, 0], "Script":"data/npc/phillay-warehouse.groovy"}, 
		{"Location":[2187, 564, 77141], "Angle":[0, 2135, 0], "Script":"data/npc/phillay-dragoman1.groovy"}, 
		{"Location":[887, 590, 74224], "Angle":[0, 5449, 0], "Script":"data/npc/phillay-magic.groovy"}, 
		{"Location":[2301, 541, 75489], "Angle":[0, 2025, 0], "Script":"data/npc/phillay-guard3.groovy"}, 
		{"Location":[1772, 558, 76548], "Angle":[0, 5320, 0], "Script":"data/npc/force-master.groovy"}, 
		{"Location":[2350, 482, 73704], "Angle":[0, 3285, 0], "Script":"data/npc/sod_05.groovy"}, 
		{"Location":[3105, 628, 76761], "Angle":[0, 2210, 0], "Script":"data/npc/real_clanmaster.groovy"}, 
		{"Location":[1531, 544, 75110], "Angle":[0, 5408, 0], "Script":"data/npc/itempost.groovy"}, 
		{"Location":[1580, 547, 74480], "Angle":[0, 3395, 0], "Script":"data/npc/phillay-arad.groovy"}, 
		{"Location":[2492, 544, 75218], "Angle":[0, 3395, 0], "Script":"data/npc/skadi.groovy"}, 
		{"Location":[1964, 570, 75517], "Angle":[0, 2868, 0], "Script":"data/npc/ji_woo.groovy"}, 
		{"Location":[2898, 530, 75826], "Angle":[0, 3375, 0], "Script":"data/npc/ray.groovy"}, 
		{"Location":[924, 680, 75916], "Angle":[0, 5552, 0], "Script":"data/npc/phillay-stone.groovy"}, 
		{"Location":[3301, 562, 75475], "Angle":[0, 3086, 0], "Script":"data/npc/phillay-quest.groovy"}, 
		{"Location":[2777, 551, 74547], "Angle":[0, 4626, 0], "Script":"data/npc/gold.groovy"}]}