/.gradle/
**/.idea/
**/.DS_Store
**/.settings/
**/build/
**/target/
**/bin/
**/logs/
**/.classpath
**/.project
JPsTale-Field/Field
**/*.dll
**/*.dylib
**/*.so
**/*.log*
**/.flattened-pom.xml
