<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.clandb.mapper.BellatraPersonalScoreNewMapper">

    <!-- C++ bellatraserver -->
    <delete id="deleteAll">
        DELETE FROM clandb.bellatra_personal_score_new
    </delete>
    <insert id="insertBellatraPersonalScoreNew" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clandb.bellatra_personal_score_new (character_id, character_name, character_class, character_level, kills, score, unix_time, date)
        VALUES (#{characterId}, #{characterName}, #{characterClass}, #{characterLevel}, #{kills}, #{score}, #{unixTime}, CURRENT_TIMESTAMP)
    </insert>
    <!-- characterserver:324 - rename -->
    <update id="updateCharacterNameByCharacterName">
        UPDATE clandb.bellatra_personal_score_new SET character_name = #{newName} WHERE character_name = #{oldName}
    </update>

</mapper>
