<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.clandb.mapper.BellatraTeamScoreMapper">

    <!-- C++ bellatraserver -->
    <delete id="deleteAll">
        DELETE FROM clandb.bellatra_team_score
    </delete>
    <insert id="insertBellatraTeamScore" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO clandb.bellatra_team_score (account_name, character_name, job_code, level, clan_code, score, kills, total_point, total_user, success_user, code, date)
        VALUES (#{accountName}, #{characterName}, #{jobCode}, #{level}, #{clanCode}, #{score}, #{kills}, #{totalPoint}, #{totalUser}, #{successUser}, #{code}, #{date})
    </insert>
    <!-- characterserver:335 - rename -->
    <update id="updateCharacterNameByCharacterName">
        UPDATE clandb.bellatra_team_score SET character_name = #{newName} WHERE character_name = #{oldName}
    </update>

</mapper>
