USE [master]
GO
/****** Object:  Database [ClanDB]    Script Date: 2026/3/14 0:23:44 ******/
CREATE DATABASE [ClanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClanDB', FILENAME = N'C:\Users\Administrator\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ClanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClanDB_log', FILENAME = N'C:\Users\Administrator\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ClanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClanDB]
GO
/****** Object:  User [web]    Script Date: 2026/3/14 0:23:44 ******/
CREATE USER [web] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [clanwebsite]    Script Date: 2026/3/14 0:23:44 ******/
CREATE USER [clanwebsite] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [web]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [web]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [clanwebsite]
GO
ALTER ROLE [db_datareader] ADD MEMBER [clanwebsite]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [clanwebsite]
GO
/****** Object:  Table [dbo].[BBSMain]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BBSMain](
	[IDX] [int] NOT NULL,
	[MIDX] [int] NOT NULL,
	[Userid] [varchar](25) NOT NULL,
	[WriteName] [varchar](100) NOT NULL,
	[Title] [varchar](600) NOT NULL,
	[Content] [text] NOT NULL,
	[SelServer] [int] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[RegiIP] [char](15) NOT NULL,
	[Hit] [int] NOT NULL,
	[CountCom] [int] NOT NULL,
	[NickName] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BBSSub]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BBSSub](
	[SIDX] [int] NOT NULL,
	[MINDEX] [int] NOT NULL,
	[Userid] [varchar](25) NOT NULL,
	[WriteName] [varchar](100) NOT NULL,
	[Content] [text] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[RegiIP] [char](15) NOT NULL,
	[NickName] [varchar](32) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BellatraPersonalScore]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BellatraPersonalScore](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[Kills] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Date] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BellatraPersonalScore] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BellatraPersonalScoreNew]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BellatraPersonalScoreNew](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CharacterID] [int] NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[CharacterClass] [int] NOT NULL,
	[CharacterLevel] [int] NOT NULL,
	[Kills] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[UnixTime] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_BellatraPersonalScoreNew] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BellatraTeamScore]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BellatraTeamScore](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[JobCode] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[ClanCode] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[Kills] [int] NOT NULL,
	[TotalPoint] [int] NOT NULL,
	[TotalUser] [int] NOT NULL,
	[SuccessUser] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[Quake] [int] NOT NULL,
	[StunSeal] [int] NOT NULL,
	[FreezeSeal] [int] NOT NULL,
	[RabieSeal] [int] NOT NULL,
	[StygianSeal] [int] NOT NULL,
	[GuardianSaintSeal] [int] NOT NULL,
	[PointBag] [int] NOT NULL,
	[Date] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BellatraTeamScore] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChipLog]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChipLog](
	[LgIDX] [int] NOT NULL,
	[CIDX] [int] NOT NULL,
	[CServer] [int] NOT NULL,
	[Userid] [varchar](50) NOT NULL,
	[Chname] [varchar](50) NOT NULL,
	[Permi] [char](2) NOT NULL,
	[RegiDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CL]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CL](
	[IDX] [int] IDENTITY(1,1) NOT NULL,
	[ClanName] [nvarchar](50) NOT NULL,
	[Note] [text] NOT NULL,
	[NoteCnt] [int] NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[ClanZang] [nvarchar](50) NOT NULL,
	[Flag] [int] NOT NULL,
	[MemCnt] [int] NOT NULL,
	[MIconCnt] [int] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[LimitDate] [datetime] NOT NULL,
	[SodDate] [datetime] NULL,
	[DelActive] [char](1) NOT NULL,
	[PFlag] [int] NOT NULL,
	[KFlag] [int] NOT NULL,
	[Cpoint] [int] NULL,
	[CWin] [int] NULL,
	[CFail] [int] NULL,
	[ClanMoney] [bigint] NULL,
	[CNFlag] [int] NULL,
	[SiegeMoney] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanHome]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanHome](
	[IDX] [int] NOT NULL,
	[MIDX] [int] NOT NULL,
	[SelServer] [int] NOT NULL,
	[Intro] [nvarchar](300) NULL,
	[Image] [nvarchar](50) NULL,
	[Skin] [int] NULL,
	[PrivHome] [int] NULL,
	[PrivMem] [int] NULL,
	[PrivBoard] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanList]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClanName] [varchar](32) NOT NULL,
	[ClanLeader] [varchar](32) NOT NULL,
	[Note] [varchar](50) NOT NULL,
	[AccountName] [varchar](20) NOT NULL,
	[MembersCount] [int] NOT NULL,
	[IconID] [int] NOT NULL,
	[RegisDate] [int] NOT NULL,
	[LimitDate] [int] NOT NULL,
	[DeleteActive] [int] NOT NULL,
	[Flag] [int] NOT NULL,
	[SiegeWarPoints] [int] NOT NULL,
	[BellatraPoints] [int] NOT NULL,
	[SiegeWarGold] [int] NOT NULL,
	[BellatraGold] [int] NOT NULL,
	[BellatraDate] [bigint] NOT NULL,
	[LoginMessage] [varchar](128) NOT NULL,
 CONSTRAINT [PK_ClanList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanMainCharChangeLog]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanMainCharChangeLog](
	[IDX] [int] NOT NULL,
	[UserID] [varchar](50) NULL,
	[BeforeCharName] [varchar](50) NULL,
	[AfterCharName] [varchar](50) NULL,
	[CServer] [int] NULL,
	[RegiDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanMainDeleted]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanMainDeleted](
	[IDX] [int] NOT NULL,
	[MIDX] [int] NOT NULL,
	[ClanName] [nvarchar](50) NOT NULL,
	[Userid] [nvarchar](50) NULL,
	[ClanZang] [nvarchar](50) NOT NULL,
	[Flag] [int] NOT NULL,
	[MemCnt] [int] NOT NULL,
	[MIConCnt] [int] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[LimitDate] [datetime] NOT NULL,
	[DelDate] [datetime] NOT NULL,
	[DelActive] [char](1) NOT NULL,
	[PFlag] [int] NOT NULL,
	[KFlag] [int] NOT NULL,
	[DelState] [char](1) NOT NULL,
	[DelCase] [char](10) NOT NULL,
	[Server] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanMainView]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanMainView](
	[IDX] [int] NOT NULL,
	[ClanName] [nvarchar](50) NOT NULL,
	[Note] [text] NOT NULL,
	[NoteCnt] [int] NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[ClanZang] [nvarchar](50) NOT NULL,
	[Flag] [int] NOT NULL,
	[MemCnt] [int] NOT NULL,
	[MIconCnt] [int] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[LimitDate] [datetime] NOT NULL,
	[DelActive] [char](1) NOT NULL,
	[PFlag] [int] NOT NULL,
	[KFlag] [int] NOT NULL,
	[Cpoint] [int] NULL,
	[CWin] [int] NULL,
	[CFail] [int] NULL,
	[ClanMoney] [bigint] NULL,
	[CNFlag] [int] NULL,
	[SiegeMoney] [bigint] NULL,
	[Server] [varchar](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanMoneyLog]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanMoneyLog](
	[IDX] [int] NOT NULL,
	[CIDX] [int] NULL,
	[UserID] [varchar](50) NULL,
	[chName] [varchar](50) NULL,
	[ServerName] [varchar](50) NULL,
	[Operator] [varchar](50) NULL,
	[OperCode] [char](10) NULL,
	[ClanMoney] [bigint] NULL,
	[RegistDay] [datetime] NULL,
	[Note] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanSubCharChangeLog]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanSubCharChangeLog](
	[IDX] [int] NOT NULL,
	[UserID] [varchar](50) NULL,
	[BeforeCharName] [varchar](50) NULL,
	[AfterCharName] [varchar](50) NULL,
	[CServer] [int] NULL,
	[RegiDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanSubDeleted]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanSubDeleted](
	[IDX] [int] NOT NULL,
	[MIDX] [int] NOT NULL,
	[userid] [nvarchar](50) NOT NULL,
	[ChName] [nvarchar](50) NOT NULL,
	[ChType] [int] NULL,
	[ChLv] [int] NULL,
	[ClanName] [nvarchar](50) NULL,
	[Permi] [char](2) NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[DelActive] [char](1) NOT NULL,
	[PFlag] [int] NOT NULL,
	[KFlag] [int] NOT NULL,
	[DelDate] [datetime] NOT NULL,
	[DelState] [char](1) NOT NULL,
	[DelCase] [char](10) NULL,
	[Server] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanSubView]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanSubView](
	[IDX] [int] NOT NULL,
	[MIDX] [int] NOT NULL,
	[userid] [nvarchar](50) NOT NULL,
	[ChName] [nvarchar](50) NOT NULL,
	[ChType] [int] NULL,
	[ChLv] [int] NULL,
	[ClanName] [nvarchar](50) NULL,
	[Permi] [char](2) NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[DelActive] [char](1) NOT NULL,
	[PFlag] [int] NOT NULL,
	[KFlag] [int] NOT NULL,
	[Server] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClanTicket]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClanTicket](
	[SNo] [int] NULL,
	[ServerName] [varchar](50) NULL,
	[MIDX] [int] NULL,
	[ClanName] [varchar](50) NULL,
	[ClanJang] [int] NULL,
	[ClanImage] [varchar](50) NULL,
	[UserID] [varchar](25) NULL,
	[ChName] [varchar](50) NULL,
	[GPCode] [varchar](20) NULL,
	[LogonTime] [datetime] NULL,
	[IP] [varchar](20) NULL,
	[RNo] [int] NULL,
	[Flag] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT](
	[SNo] [int] NULL,
	[ServerName] [varchar](50) NULL,
	[MIDX] [int] NULL,
	[ClanName] [varchar](50) NULL,
	[ClanJang] [int] NULL,
	[ClanImage] [varchar](50) NULL,
	[UserID] [varchar](25) NULL,
	[ChName] [varchar](50) NULL,
	[GPCode] [varchar](20) NULL,
	[LogonTime] [datetime] NULL,
	[IP] [varchar](20) NULL,
	[RNo] [int] NULL,
	[Flag] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNotice]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNotice](
	[UserID] [varchar](50) NULL,
	[ChName] [varchar](50) NULL,
	[Server] [int] NULL,
	[PFlag] [int] NULL,
	[Txt] [varchar](1000) NULL,
	[Flag] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNoticeGroup]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNoticeGroup](
	[IDX] [int] NOT NULL,
	[GroupCD] [int] NOT NULL,
	[MainCD] [int] NOT NULL,
	[DetailCD] [int] NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Content] [text] NOT NULL,
	[FromDay] [datetime] NOT NULL,
	[ToDay] [datetime] NOT NULL,
	[RegistDay] [datetime] NOT NULL,
	[DelActive] [int] NOT NULL,
	[Hit] [int] NOT NULL,
	[Flag] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameNoticePrivate]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameNoticePrivate](
	[IDX] [int] NOT NULL,
	[Userid] [varchar](50) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Content] [text] NOT NULL,
	[FromDay] [datetime] NOT NULL,
	[ToDay] [datetime] NOT NULL,
	[RegistDay] [datetime] NOT NULL,
	[DelActive] [int] NOT NULL,
	[Hit] [int] NOT NULL,
	[Flag] [tinyint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LI]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LI](
	[IMG] [int] NOT NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notice]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notice](
	[IDX] [int] NOT NULL,
	[MIDX] [int] NOT NULL,
	[Userid] [varchar](25) NOT NULL,
	[WriteName] [varchar](100) NOT NULL,
	[Title] [varchar](600) NOT NULL,
	[Content] [text] NOT NULL,
	[SelServer] [int] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[RegiIP] [char](15) NOT NULL,
	[Hit] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRBbsFile]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRBbsFile](
	[IDX] [int] NOT NULL,
	[MINDEX] [int] NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[FileSize] [varchar](100) NOT NULL,
	[RegiDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRBBSMain]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRBBSMain](
	[IDX] [int] NOT NULL,
	[PMNo] [varchar](20) NOT NULL,
	[Userid] [varchar](25) NOT NULL,
	[Title] [varchar](600) NOT NULL,
	[Content] [text] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[ClanIdx] [int] NOT NULL,
	[SelServer] [int] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[RegiIP] [char](15) NOT NULL,
	[Hit] [int] NOT NULL,
	[CountCom] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRBBSSub]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRBBSSub](
	[SIDX] [int] NOT NULL,
	[MINDEX] [int] NOT NULL,
	[PMNo] [varchar](20) NOT NULL,
	[userid] [varchar](25) NOT NULL,
	[writename] [varchar](100) NOT NULL,
	[Content] [text] NOT NULL,
	[RegiDate] [datetime] NOT NULL,
	[RegiIP] [char](15) NOT NULL,
	[UserName] [varchar](100) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiegeClanList]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiegeClanList](
	[IDX] [int] NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[CharName] [varchar](50) NOT NULL,
	[ClanName] [varchar](50) NOT NULL,
	[TaxRate] [int] NOT NULL,
	[ServerName] [varchar](50) NOT NULL,
	[Server] [tinyint] NOT NULL,
	[OperFrom] [datetime] NULL,
	[OperTo] [datetime] NULL,
	[RegistDay] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiegeCurrentList]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiegeCurrentList](
	[IDX] [int] NOT NULL,
	[CIDX] [int] NULL,
	[UserID] [varchar](50) NULL,
	[chName] [varchar](50) NULL,
	[ServerName] [varchar](50) NULL,
	[Operator] [varchar](50) NULL,
	[OperCode] [char](10) NULL,
	[SiegeMoney] [bigint] NULL,
	[RegistDay] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiegeMoneyLog]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiegeMoneyLog](
	[IDX] [int] IDENTITY(1,1) NOT NULL,
	[CIDX] [int] NULL,
	[UserID] [varchar](50) NULL,
	[chName] [varchar](50) NULL,
	[ServerName] [varchar](50) NULL,
	[Operator] [varchar](50) NULL,
	[OperCode] [char](10) NULL,
	[SiegeMoney] [bigint] NULL,
	[RegistDay] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiegeMoneyTax]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiegeMoneyTax](
	[DNo] [int] IDENTITY(1,1) NOT NULL,
	[IDX] [int] NULL,
	[Mixing] [bigint] NULL,
	[Aging] [bigint] NULL,
	[Shop] [bigint] NULL,
	[Poison1] [bigint] NULL,
	[Poison2] [bigint] NULL,
	[Poison3] [bigint] NULL,
	[Force] [bigint] NULL,
	[Warpgate] [bigint] NULL,
	[Skill] [bigint] NULL,
	[Total] [bigint] NULL,
	[Tax] [bigint] NULL,
	[ServerName] [varchar](50) NULL,
	[RegistDay] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UL]    Script Date: 2026/3/14 0:23:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UL](
	[IDX] [int] NOT NULL,
	[MIDX] [int] IDENTITY(1,1) NOT NULL,
	[userid] [nvarchar](50) NOT NULL,
	[ChName] [nvarchar](50) NOT NULL,
	[ChType] [int] NULL,
	[ChLv] [int] NULL,
	[ClanName] [nvarchar](50) NULL,
	[Permi] [char](2) NOT NULL,
	[JoinDate] [datetime] NOT NULL,
	[DelActive] [char](1) NOT NULL,
	[PFlag] [int] NOT NULL,
	[KFlag] [int] NOT NULL,
	[MIconCnt] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BellatraPersonalScore] ON 

INSERT [dbo].[BellatraPersonalScore] ([ID], [AccountName], [CharacterName], [Kills], [Score], [Date]) VALUES (460, N'arthp', N'Ploft', 1781, 4047419, N'04/03/21 00:48:11')
INSERT [dbo].[BellatraPersonalScore] ([ID], [AccountName], [CharacterName], [Kills], [Score], [Date]) VALUES (461, N'jogos2', N'Serna', 1551, 3818454, N'04/03/21 03:40:59')
INSERT [dbo].[BellatraPersonalScore] ([ID], [AccountName], [CharacterName], [Kills], [Score], [Date]) VALUES (462, N'miguvera', N'Jarule', 1528, 3580174, N'04/03/21 02:43:23')
SET IDENTITY_INSERT [dbo].[BellatraPersonalScore] OFF
GO
SET IDENTITY_INSERT [dbo].[BellatraPersonalScoreNew] ON 

INSERT [dbo].[BellatraPersonalScoreNew] ([ID], [CharacterID], [CharacterName], [CharacterClass], [CharacterLevel], [Kills], [Score], [UnixTime], [Date]) VALUES (1024, 11781, N'Ploft', 10, 105, 1781, 4047419, 1617410891, CAST(N'2021-04-03T00:48:11.850' AS DateTime))
INSERT [dbo].[BellatraPersonalScoreNew] ([ID], [CharacterID], [CharacterName], [CharacterClass], [CharacterLevel], [Kills], [Score], [UnixTime], [Date]) VALUES (1025, 7206, N'Serna', 8, 112, 1625, 3795132, 1617416651, CAST(N'2021-04-03T02:24:11.860' AS DateTime))
INSERT [dbo].[BellatraPersonalScoreNew] ([ID], [CharacterID], [CharacterName], [CharacterClass], [CharacterLevel], [Kills], [Score], [UnixTime], [Date]) VALUES (1026, 383, N'Jarule', 1, 112, 1528, 3580174, 1617417804, CAST(N'2021-04-03T02:43:23.997' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BellatraPersonalScoreNew] OFF
GO
SET IDENTITY_INSERT [dbo].[BellatraTeamScore] ON 

INSERT [dbo].[BellatraTeamScore] ([ID], [AccountName], [CharacterName], [JobCode], [Level], [ClanCode], [Score], [Kills], [TotalPoint], [TotalUser], [SuccessUser], [Code], [Quake], [StunSeal], [FreezeSeal], [RabieSeal], [StygianSeal], [GuardianSaintSeal], [PointBag], [Date]) VALUES (7819, N'arthp', N'Ploft', 10, 105, 72, 1756737, 708, 3697121, 3, 3, -1301828119, 0, 0, 0, 0, 0, 0, 0, N'04/03/21 00:09:47')
INSERT [dbo].[BellatraTeamScore] ([ID], [AccountName], [CharacterName], [JobCode], [Level], [ClanCode], [Score], [Kills], [TotalPoint], [TotalUser], [SuccessUser], [Code], [Quake], [StunSeal], [FreezeSeal], [RabieSeal], [StygianSeal], [GuardianSaintSeal], [PointBag], [Date]) VALUES (7820, N'menurot', N'hiddenzOrz', 4, 108, 72, 1210521, 425, 3697121, 3, 3, -1301828119, 0, 0, 0, 0, 0, 0, 0, N'04/03/21 00:09:47')
INSERT [dbo].[BellatraTeamScore] ([ID], [AccountName], [CharacterName], [JobCode], [Level], [ClanCode], [Score], [Kills], [TotalPoint], [TotalUser], [SuccessUser], [Code], [Quake], [StunSeal], [FreezeSeal], [RabieSeal], [StygianSeal], [GuardianSaintSeal], [PointBag], [Date]) VALUES (7821, N'schitzo', N'Shagrath', 2, 102, 72, 729863, 411, 3697121, 3, 3, -1301828119, 0, 0, 0, 0, 0, 0, 0, N'04/03/21 00:09:47')
SET IDENTITY_INSERT [dbo].[BellatraTeamScore] OFF
GO
SET IDENTITY_INSERT [dbo].[CL] ON 

INSERT [dbo].[CL] ([IDX], [ClanName], [Note], [NoteCnt], [UserID], [ClanZang], [Flag], [MemCnt], [MIconCnt], [RegiDate], [LimitDate], [SodDate], [DelActive], [PFlag], [KFlag], [Cpoint], [CWin], [CFail], [ClanMoney], [CNFlag], [SiegeMoney]) VALUES (188, N'MEKPREME', N'Pristontale EU', 1, N'kristjan2', N'Misssssssea', 0, 1, 1000000184, CAST(N'2020-08-24T18:23:53.070' AS DateTime), CAST(N'2030-07-03T18:23:53.070' AS DateTime), NULL, N'0', 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[CL] ([IDX], [ClanName], [Note], [NoteCnt], [UserID], [ClanZang], [Flag], [MemCnt], [MIconCnt], [RegiDate], [LimitDate], [SodDate], [DelActive], [PFlag], [KFlag], [Cpoint], [CWin], [CFail], [ClanMoney], [CNFlag], [SiegeMoney]) VALUES (203, N'7DS', N'Pristontale EU', 1, N'darsx', N'Kagoume', 0, 9, 1000000199, CAST(N'2020-10-04T20:28:51.400' AS DateTime), CAST(N'2030-08-13T20:28:51.400' AS DateTime), NULL, N'0', 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[CL] ([IDX], [ClanName], [Note], [NoteCnt], [UserID], [ClanZang], [Flag], [MemCnt], [MIconCnt], [RegiDate], [LimitDate], [SodDate], [DelActive], [PFlag], [KFlag], [Cpoint], [CWin], [CFail], [ClanMoney], [CNFlag], [SiegeMoney]) VALUES (204, N'S2', N'Pristontale EU', 1, N'pr3sidents', N'Fiji', 0, 1, 1000000200, CAST(N'2020-10-04T22:57:55.870' AS DateTime), CAST(N'2030-08-13T22:57:55.870' AS DateTime), NULL, N'0', 0, 0, 0, 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[CL] OFF
GO
SET IDENTITY_INSERT [dbo].[ClanList] ON 

INSERT [dbo].[ClanList] ([ID], [ClanName], [ClanLeader], [Note], [AccountName], [MembersCount], [IconID], [RegisDate], [LimitDate], [DeleteActive], [Flag], [SiegeWarPoints], [BellatraPoints], [SiegeWarGold], [BellatraGold], [BellatraDate], [LoginMessage]) VALUES (29, N'GameMaster', N'NewB', N'Pristontale EU Staff Team', N'm4ko', 1, 1000000002, 1, 20, 0, 1, 1, 0, 0, 0, 0, N'GameMaster')
INSERT [dbo].[ClanList] ([ID], [ClanName], [ClanLeader], [Note], [AccountName], [MembersCount], [IconID], [RegisDate], [LimitDate], [DeleteActive], [Flag], [SiegeWarPoints], [BellatraPoints], [SiegeWarGold], [BellatraGold], [BellatraDate], [LoginMessage]) VALUES (30, N'Warfare', N'StRiX', N'Pristontale EU', N'bhrj10', 1, 1000000003, 1, 20, 0, 1, 1, 0, 0, 0, 0, N'Warfare')
INSERT [dbo].[ClanList] ([ID], [ClanName], [ClanLeader], [Note], [AccountName], [MembersCount], [IconID], [RegisDate], [LimitDate], [DeleteActive], [Flag], [SiegeWarPoints], [BellatraPoints], [SiegeWarGold], [BellatraGold], [BellatraDate], [LoginMessage]) VALUES (31, N'Legends', N'Proxik', N'Pristontale EU', N'Guncloud', 1, 1000000004, 1, 20, 0, 1, 1, 0, 0, 1674053, 0, N'Legends')
INSERT [dbo].[ClanList] ([ID], [ClanName], [ClanLeader], [Note], [AccountName], [MembersCount], [IconID], [RegisDate], [LimitDate], [DeleteActive], [Flag], [SiegeWarPoints], [BellatraPoints], [SiegeWarGold], [BellatraGold], [BellatraDate], [LoginMessage]) VALUES (73, N'Heretics', N'Ivar', N'< H E R E T I C S > SoD starting soon! Get READY
', N'Kitsuko', 1, 1000000041, 1, 10, 0, 1, 1, 5228570, 0, 3597400, 27147338844242281, N'Heretics')
GO
INSERT [dbo].[ClanList] ([ID], [ClanName], [ClanLeader], [Note], [AccountName], [MembersCount], [IconID], [RegisDate], [LimitDate], [DeleteActive], [Flag], [SiegeWarPoints], [BellatraPoints], [SiegeWarGold], [BellatraGold], [BellatraDate], [LoginMessage]) VALUES (134, N'Fifislayers', N'Barrager', N'Pristontale EU

Welcome to Fifislayers ..  this ', N'doom', 1, 1000000102, 1, 10, 0, 1, 1, 0, 0, 0, 0, N'Fifislayers')
INSERT [dbo].[ClanList] ([ID], [ClanName], [ClanLeader], [Note], [AccountName], [MembersCount], [IconID], [RegisDate], [LimitDate], [DeleteActive], [Flag], [SiegeWarPoints], [BellatraPoints], [SiegeWarGold], [BellatraGold], [BellatraDate], [LoginMessage]) VALUES (177, N'IMMORTALS', N'mrmalaundy', N'`Divides the task and Multiplies the Succes`
', N'jhasz64', 1, 1000000145, 1, 10, 0, 1, 1, 0, 0, 0, 0, N'IMMORTALS')
GO
SET IDENTITY_INSERT [dbo].[ClanList] OFF
GO
INSERT [dbo].[LI] ([IMG], [ID]) VALUES (1000000287, 1)
GO
SET IDENTITY_INSERT [dbo].[UL] ON 

INSERT [dbo].[UL] ([IDX], [MIDX], [userid], [ChName], [ChType], [ChLv], [ClanName], [Permi], [JoinDate], [DelActive], [PFlag], [KFlag], [MIconCnt]) VALUES (250, 8120, N'Opolix', N'ToxicCreed', 1, 60, N'VLONE', N'0 ', CAST(N'2021-01-27T01:17:57.730' AS DateTime), N'0', 0, 0, 1000000246)
INSERT [dbo].[UL] ([IDX], [MIDX], [userid], [ChName], [ChType], [ChLv], [ClanName], [Permi], [JoinDate], [DelActive], [PFlag], [KFlag], [MIconCnt]) VALUES (137, 3286, N'TedMech', N'Ozzy', 10, 85, N'EvoluTion', N'0 ', CAST(N'2020-06-13T17:55:35.863' AS DateTime), N'0', 0, 0, 1000000133)
INSERT [dbo].[UL] ([IDX], [MIDX], [userid], [ChName], [ChType], [ChLv], [ClanName], [Permi], [JoinDate], [DelActive], [PFlag], [KFlag], [MIconCnt]) VALUES (43, 887, N'khaophat99', N'PikeySG', 4, 58, N'EDMW', N'0 ', CAST(N'2020-01-04T18:31:50.750' AS DateTime), N'0', 0, 0, 1000000039)
GO
SET IDENTITY_INSERT [dbo].[UL] OFF
GO
USE [master]
GO
