USE [master]
GO
/****** Object:  Database [ItemDB]    Script Date: 2026/3/14 0:22:14 ******/
CREATE DATABASE [ItemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ItemDB', FILENAME = N'C:\Users\Administrator\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ItemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ItemDB_log', FILENAME = N'C:\Users\Administrator\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ItemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ItemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ItemDB]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 2026/3/14 0:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CharcterID] [int] NOT NULL,
	[Location] [tinyint] NOT NULL,
	[Data] [binary](532) NOT NULL,
	[Header] [int] NOT NULL,
	[Timestamp] [int] NOT NULL,
	[Checksum] [int] NOT NULL,
	[BackupHeader] [int] NOT NULL,
	[BackupChecksum] [int] NOT NULL,
	[Flags] [tinyint] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[DeleteTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemBase]    Script Date: 2026/3/14 0:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBase](
	[ItemBaseId] [int] NOT NULL,
	[ItemBaseName] [varchar](20) NOT NULL,
	[ItemBaseHex] [varbinary](4) NOT NULL,
	[ItemBaseAbbrv] [varchar](3) NULL,
 CONSTRAINT [PK_ItemBase] PRIMARY KEY CLUSTERED 
(
	[ItemBaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemCraftType]    Script Date: 2026/3/14 0:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCraftType](
	[ItemCraftTypeId] [smallint] NOT NULL,
	[ItemCraftTypeName] [varchar](15) NOT NULL,
 CONSTRAINT [PK_ItemCraftType] PRIMARY KEY CLUSTERED 
(
	[ItemCraftTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDump]    Script Date: 2026/3/14 0:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDump](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NULL,
	[CharName] [varchar](32) NULL,
	[ItemName] [varchar](50) NOT NULL,
	[ItemLevel] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemTypeId] [int] NOT NULL,
	[ItemBaseId] [int] NOT NULL,
	[ItemHeader] [int] NOT NULL,
	[ItemChecksum] [int] NOT NULL,
	[ItemBackupHeader] [int] NOT NULL,
	[ItemBackupChecksum] [int] NOT NULL,
	[MixEffect] [int] NOT NULL,
	[MixID] [int] NOT NULL,
	[AgeLevel] [int] NOT NULL,
	[AttackRange] [int] NOT NULL,
	[AttackSpeed] [int] NOT NULL,
	[AttackRating] [int] NOT NULL,
	[ATKPowMin] [smallint] NOT NULL,
	[ATKPowMax] [smallint] NOT NULL,
	[Critical] [int] NULL,
	[Absorb] [float] NOT NULL,
	[Defense] [int] NOT NULL,
	[Block] [float] NOT NULL,
	[Organic] [smallint] NOT NULL,
	[Fire] [smallint] NOT NULL,
	[Frost] [smallint] NOT NULL,
	[Lighting] [smallint] NOT NULL,
	[Poison] [smallint] NOT NULL,
	[StrengthReq] [int] NOT NULL,
	[SpiritReq] [int] NOT NULL,
	[TalentReq] [int] NOT NULL,
	[AgilityReq] [int] NOT NULL,
	[HealthReq] [int] NOT NULL,
	[MPRegen] [float] NOT NULL,
	[HPRegen] [float] NOT NULL,
	[SPRegen] [float] NOT NULL,
	[AddHP] [float] NOT NULL,
	[AddMP] [float] NOT NULL,
	[AddSP] [float] NOT NULL,
	[ItemSpec] [int] NOT NULL,
	[SpecAbsorb] [float] NOT NULL,
	[SpecDef] [int] NOT NULL,
	[SpecBlockRating] [float] NOT NULL,
	[SpecAttackSpeed] [int] NOT NULL,
	[SpecCritical] [int] NOT NULL,
	[SpecAttackRatingDiv] [smallint] NOT NULL,
	[SpecAttackPowerDiv] [smallint] NOT NULL,
	[SpecMPRegen] [float] NOT NULL,
	[SpecHPRegen] [float] NOT NULL,
	[SpecSPRegen] [float] NOT NULL,
	[ItemUniqueID] [int] NOT NULL,
	[SalePrice] [int] NOT NULL,
	[CreatedDate] [int] NOT NULL,
 CONSTRAINT [PK_ItemDump] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 2026/3/14 0:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[ItemTypeId] [int] NOT NULL,
	[ItemTypeName] [varchar](20) NOT NULL,
	[ItemTypeHex] [varbinary](4) NOT NULL,
	[ItemTypeAbbrv] [varchar](3) NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ItemBase] ([ItemBaseId], [ItemBaseName], [ItemBaseHex], [ItemBaseAbbrv]) VALUES (-1, N'Any', 0xFFFFFFFF, NULL)
INSERT [dbo].[ItemBase] ([ItemBaseId], [ItemBaseName], [ItemBaseHex], [ItemBaseAbbrv]) VALUES (0, N'None', 0x00000000, NULL)
INSERT [dbo].[ItemBase] ([ItemBaseId], [ItemBaseName], [ItemBaseHex], [ItemBaseAbbrv]) VALUES (16777216, N'Weapon', 0x01000000, N'W')
GO
INSERT [dbo].[ItemCraftType] ([ItemCraftTypeId], [ItemCraftTypeName]) VALUES (-1, N'NPC')
INSERT [dbo].[ItemCraftType] ([ItemCraftTypeId], [ItemCraftTypeName]) VALUES (0, N'None')
INSERT [dbo].[ItemCraftType] ([ItemCraftTypeId], [ItemCraftTypeName]) VALUES (1, N'Mixing')
GO
INSERT [dbo].[ItemType] ([ItemTypeId], [ItemTypeName], [ItemTypeHex], [ItemTypeAbbrv]) VALUES (-1, N'Any', 0xFFFFFFFF, NULL)
INSERT [dbo].[ItemType] ([ItemTypeId], [ItemTypeName], [ItemTypeHex], [ItemTypeAbbrv]) VALUES (0, N'None', 0x00000000, NULL)
INSERT [dbo].[ItemType] ([ItemTypeId], [ItemTypeName], [ItemTypeHex], [ItemTypeAbbrv]) VALUES (16842752, N'Axe', 0x01010000, N'WA')
GO
USE [master]
GO
