USE [master]
GO
/****** Object:  Database [ServerDB]    Script Date: 2026/3/14 0:20:57 ******/
CREATE DATABASE [ServerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServerDB_Data', FILENAME = N'C:\Users\Administrator\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ServerDB.mdf' , SIZE = 5632KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'ServerDB_Log', FILENAME = N'C:\Users\Administrator\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ServerDB_log.ldf' , SIZE = 6144KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServerDB]
GO
/****** Object:  User [web]    Script Date: 2026/3/14 0:20:57 ******/
CREATE USER [web] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [spawn]    Script Date: 2026/3/14 0:20:57 ******/
CREATE USER [spawn] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [db_table_spawn]    Script Date: 2026/3/14 0:20:57 ******/
CREATE ROLE [db_table_spawn]
GO
ALTER ROLE [db_datareader] ADD MEMBER [web]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [web]
GO
ALTER ROLE [db_table_spawn] ADD MEMBER [spawn]
GO
/****** Object:  Table [dbo].[BellatraReward]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BellatraReward](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](32) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Percent] [int] NOT NULL,
 CONSTRAINT [PK_BellatraReward] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlessCastleSettings]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlessCastleSettings](
	[ClanID1] [int] NOT NULL,
	[ClanID2] [int] NOT NULL,
	[ClanID3] [int] NOT NULL,
	[Tax] [int] NOT NULL,
	[Skill] [int] NOT NULL,
	[Tower1Type] [int] NOT NULL,
	[Tower2Type] [int] NOT NULL,
	[Tower3Type] [int] NOT NULL,
	[Tower4Type] [int] NOT NULL,
	[Tower5Type] [int] NOT NULL,
	[Tower6Type] [int] NOT NULL,
	[Guard1Amount] [int] NOT NULL,
	[Guard2Amount] [int] NOT NULL,
	[Guard3Amount] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Command]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Command](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CommandTypeID] [int] NOT NULL,
	[Parameter1] [varchar](64) NULL,
	[Parameter2] [varchar](64) NULL,
	[Parameter3] [varchar](64) NULL,
	[DateProcessed] [datetime] NULL,
 CONSTRAINT [PK_Command] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrashData]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrashData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[IP] [varchar](16) NOT NULL,
	[Version] [int] NOT NULL,
	[Address] [int] NOT NULL,
	[Flags] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[EAX] [int] NOT NULL,
	[ECX] [int] NOT NULL,
	[EDX] [int] NOT NULL,
	[EBX] [int] NOT NULL,
	[ESP] [int] NOT NULL,
	[EBP] [int] NOT NULL,
	[ESI] [int] NOT NULL,
	[EDI] [int] NOT NULL,
	[EIP] [int] NOT NULL,
	[DateReceived] [datetime] NOT NULL,
 CONSTRAINT [PK_CrashData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FunctionChecksumList]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FunctionChecksumList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Checksum] [varchar](32) NOT NULL,
 CONSTRAINT [PK_FunctionChecksumList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuryArena]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuryArena](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](32) NOT NULL,
	[Percent] [int] NOT NULL,
	[BossID] [int] NOT NULL,
 CONSTRAINT [PK_FuryArena] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GMCommand]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GMCommand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[Command] [varchar](100) NOT NULL,
	[UnixTime] [int] NOT NULL,
	[UnixTimeToExecute] [int] NOT NULL,
	[IsActive] [tinyint] NOT NULL,
	[Result] [tinyint] NOT NULL,
 CONSTRAINT [PK_GMCommand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [int] NOT NULL,
	[IP] [varchar](32) NOT NULL,
	[Corno] [varchar](50) NULL,
 CONSTRAINT [PK_Maintenance] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageLogin]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageLogin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [varchar](128) NOT NULL,
 CONSTRAINT [PK_MessageLogin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metadata]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metadata](
	[Key] [varchar](30) NOT NULL,
	[Value] [int] NOT NULL,
	[IsPublic] [tinyint] NOT NULL,
 CONSTRAINT [PK_Metadata] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OnlineReward]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineReward](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCode] [varchar](32) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Percent] [int] NOT NULL,
 CONSTRAINT [PK_OnlineReward] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostBox]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostBox](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[Item] [varchar](32) NOT NULL,
	[SpecOrCount] [int] NOT NULL,
 CONSTRAINT [PK_PostBox] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpawnCamera]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpawnCamera](
	[MapNumber] [int] NOT NULL,
	[SpawnX] [int] NOT NULL,
	[SpawnY] [int] NOT NULL,
	[SpawnZ] [int] NOT NULL,
	[CamXCoord] [int] NOT NULL,
	[CamZCoord] [int] NOT NULL,
	[CamTurn] [int] NOT NULL,
	[CamAngle] [int] NOT NULL,
	[CamZoom] [int] NOT NULL,
	[MinPlayerCount] [int] NOT NULL,
	[SearchRadius] [int] NOT NULL,
	[SpawnType] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersOnline]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersOnline](
	[AccountName] [varchar](32) NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[IP] [varchar](32) NOT NULL,
	[CharacterClass] [int] NOT NULL,
	[CharacterLevel] [int] NOT NULL,
	[Ticket] [int] NOT NULL,
	[LoginTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WindowCheatList]    Script Date: 2026/3/14 0:20:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WindowCheatList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WindowName] [varchar](64) NOT NULL,
 CONSTRAINT [PK_WindowCheatList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BellatraReward] ON 

INSERT [dbo].[BellatraReward] ([ID], [ItemCode], [Quantity], [Percent]) VALUES (1, N'pl105', 10, 1000)
INSERT [dbo].[BellatraReward] ([ID], [ItemCode], [Quantity], [Percent]) VALUES (2, N'pm105', 10, 1000)
INSERT [dbo].[BellatraReward] ([ID], [ItemCode], [Quantity], [Percent]) VALUES (3, N'ps105', 10, 1000)
SET IDENTITY_INSERT [dbo].[BellatraReward] OFF
GO
INSERT [dbo].[BlessCastleSettings] ([ClanID1], [ClanID2], [ClanID3], [Tax], [Skill], [Tower1Type], [Tower2Type], [Tower3Type], [Tower4Type], [Tower5Type], [Tower6Type], [Guard1Amount], [Guard2Amount], [Guard3Amount]) VALUES (1000000337, 0, 0, 0, 2, 1, 1, 1, 1, 1, 1, 20, 20, 20)
GO
SET IDENTITY_INSERT [dbo].[Command] ON 

INSERT [dbo].[Command] ([ID], [CommandTypeID], [Parameter1], [Parameter2], [Parameter3], [DateProcessed]) VALUES (1, 10, N'HELLGITERANINJA', N'Morissette', N'', CAST(N'2021-02-22T01:31:29.370' AS DateTime))
INSERT [dbo].[Command] ([ID], [CommandTypeID], [Parameter1], [Parameter2], [Parameter3], [DateProcessed]) VALUES (2, 10, N'HsTuzaO', N'Hazz', N'', CAST(N'2021-02-28T20:05:02.133' AS DateTime))
INSERT [dbo].[Command] ([ID], [CommandTypeID], [Parameter1], [Parameter2], [Parameter3], [DateProcessed]) VALUES (3, 10, N'61FPS', N'Leonie', N'', CAST(N'2021-03-01T17:53:03.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[Command] OFF
GO
SET IDENTITY_INSERT [dbo].[CrashData] ON 

INSERT [dbo].[CrashData] ([ID], [AccountName], [IP], [Version], [Address], [Flags], [Code], [EAX], [ECX], [EDX], [EBX], [ESP], [EBP], [ESI], [EDI], [EIP], [DateReceived]) VALUES (8689, N'xxstr', N'181.221.218.205', 1145323856, 1933255868, 0, -1073741819, 1121634696, 0, 0, 83940160, 7471207, 1702508, 258956962, 258957058, 1933255868, CAST(N'2019-08-28T18:42:59.933' AS DateTime))
INSERT [dbo].[CrashData] ([ID], [AccountName], [IP], [Version], [Address], [Flags], [Code], [EAX], [ECX], [EDX], [EBX], [ESP], [EBP], [ESI], [EDI], [EIP], [DateReceived]) VALUES (8690, N'leirbag32', N'85.170.66.168', 1145323856, 269728054, 1, 1073741845, 3405492, 0, 1590592, 269903712, 0, 3406280, 0, 1590592, 269728054, CAST(N'2019-08-28T19:28:05.530' AS DateTime))
INSERT [dbo].[CrashData] ([ID], [AccountName], [IP], [Version], [Address], [Flags], [Code], [EAX], [ECX], [EDX], [EBX], [ESP], [EBP], [ESI], [EDI], [EIP], [DateReceived]) VALUES (8691, N'fatima', N'201.212.220.27', 1145323856, 4869349, 0, -1073741819, 948217744, 1244032, 8, 16, 3014704, 1339289824, 56493656, -2013265920, 4869349, CAST(N'2019-08-29T00:15:56.167' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CrashData] OFF
GO
SET IDENTITY_INSERT [dbo].[FuryArena] ON 

INSERT [dbo].[FuryArena] ([ID], [ItemCode], [Percent], [BossID]) VALUES (1, N'GG101', 20000, 1)
INSERT [dbo].[FuryArena] ([ID], [ItemCode], [Percent], [BossID]) VALUES (2, N'OS109', 4000, 1)
INSERT [dbo].[FuryArena] ([ID], [ItemCode], [Percent], [BossID]) VALUES (6, N'FO110', 4000, 1)
SET IDENTITY_INSERT [dbo].[FuryArena] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintenance] ON 

INSERT [dbo].[Maintenance] ([ID], [Mode], [IP], [Corno]) VALUES (81, 8, N'e197c9b17132375f19984afaab7e742d', N'Kaffee telling people to quit')
INSERT [dbo].[Maintenance] ([ID], [Mode], [IP], [Corno]) VALUES (82, 8, N'cde4e7b57e0302f3da5973b3c5d6f85f', N'xdumbass ')
SET IDENTITY_INSERT [dbo].[Maintenance] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageLogin] ON 

INSERT [dbo].[MessageLogin] ([ID], [Message]) VALUES (70, N'> Welcome to Pristontale EU Season 3!')
INSERT [dbo].[MessageLogin] ([ID], [Message]) VALUES (75, N'> v1.263 is now live.')
INSERT [dbo].[MessageLogin] ([ID], [Message]) VALUES (105, N'> Players can use /tier2 to skip their rank up.')
SET IDENTITY_INSERT [dbo].[MessageLogin] OFF
GO
INSERT [dbo].[Metadata] ([Key], [Value], [IsPublic]) VALUES (N'boss.time.second', 36, 1)
INSERT [dbo].[Metadata] ([Key], [Value], [IsPublic]) VALUES (N'server.game.unix.time', 1664143555, 0)
INSERT [dbo].[Metadata] ([Key], [Value], [IsPublic]) VALUES (N'server.login.unix.time', 1664143558, 0)
GO
SET IDENTITY_INSERT [dbo].[OnlineReward] ON 

INSERT [dbo].[OnlineReward] ([ID], [ItemCode], [Quantity], [Percent]) VALUES (1112, N'BI108', 2, 60)
INSERT [dbo].[OnlineReward] ([ID], [ItemCode], [Quantity], [Percent]) VALUES (1113, N'BI104', 1, 60)
INSERT [dbo].[OnlineReward] ([ID], [ItemCode], [Quantity], [Percent]) VALUES (1122, N'bi115', 1, 60)
SET IDENTITY_INSERT [dbo].[OnlineReward] OFF
GO
INSERT [dbo].[SpawnCamera] ([MapNumber], [SpawnX], [SpawnY], [SpawnZ], [CamXCoord], [CamZCoord], [CamTurn], [CamAngle], [CamZoom], [MinPlayerCount], [SearchRadius], [SpawnType]) VALUES (7, 3159158, 182170, 4139730, 3092041, 4199761, 1460, 288, 800, 1, 291600, 1)
INSERT [dbo].[SpawnCamera] ([MapNumber], [SpawnX], [SpawnY], [SpawnZ], [CamXCoord], [CamZCoord], [CamTurn], [CamAngle], [CamZoom], [MinPlayerCount], [SearchRadius], [SpawnType]) VALUES (6, 1512513, 200384, 5787969, 1517662, 5842568, 1779, 280, 1000, 1, 291600, 1)
INSERT [dbo].[SpawnCamera] ([MapNumber], [SpawnX], [SpawnY], [SpawnZ], [CamXCoord], [CamZCoord], [CamTurn], [CamAngle], [CamZoom], [MinPlayerCount], [SearchRadius], [SpawnType]) VALUES (0, -3358503, 41239, -2184802, -3294285, -2219589, 3534, 288, 800, 1, 291600, 1)
GO
ALTER TABLE [dbo].[GMCommand] ADD  CONSTRAINT [DF_GMCommand_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GMCommand] ADD  CONSTRAINT [DF_GMCommand_Result]  DEFAULT ((0)) FOR [Result]
GO
ALTER TABLE [dbo].[Metadata] ADD  CONSTRAINT [DF_Metadata_IsPublic]  DEFAULT ((0)) FOR [IsPublic]
GO
USE [master]
GO
