USE [UserDB]
GO
/****** Object:  User [web]    Script Date: 2026/3/14 0:19:34 ******/
CREATE USER [web] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [web]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [web]
GO
/****** Object:  Table [dbo].[CharacterExpDef]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterExpDef](
	[Level] [tinyint] NOT NULL,
	[ExpRequired] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterInfo]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[OldHead] [varchar](64) NOT NULL,
	[Level] [int] NOT NULL,
	[Experience] [bigint] NOT NULL,
	[Gold] [int] NOT NULL,
	[JobCode] [int] NOT NULL,
	[ClanID] [int] NOT NULL,
	[ClanPermission] [int] NOT NULL,
	[ClanLeaveDate] [int] NOT NULL,
	[LastSeenDate] [datetime] NOT NULL,
	[BlessCastleScore] [int] NOT NULL,
	[FSP] [int] NOT NULL,
	[LastStage] [int] NOT NULL,
	[IsOnline] [int] NOT NULL,
	[Seasonal] [int] NOT NULL,
	[GMLevel] [int] NOT NULL,
	[Banned] [int] NOT NULL,
	[Title] [int] NULL,
	[DialogSkin] [int] NULL,
	[LevelUpDate] [datetime] NULL,
 CONSTRAINT [PK_CharacterInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterInfoDelete]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterInfoDelete](
	[ID] [int] NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[OldHead] [varchar](64) NOT NULL,
	[Level] [int] NOT NULL,
	[Experience] [bigint] NOT NULL,
	[Gold] [int] NOT NULL,
	[JobCode] [int] NOT NULL,
	[ClanID] [int] NOT NULL,
	[ClanPermission] [int] NOT NULL,
	[ClanLeaveDate] [int] NOT NULL,
	[LastSeenDate] [varchar](50) NOT NULL,
	[BlessCastleScore] [int] NOT NULL,
	[FSP] [int] NOT NULL,
	[LastStage] [int] NOT NULL,
	[IsOnline] [int] NOT NULL,
	[Seasonal] [int] NOT NULL,
	[GMLevel] [int] NOT NULL,
	[Banned] [int] NOT NULL,
	[Title] [int] NULL,
	[DialogSkin] [int] NULL,
 CONSTRAINT [PK_CharacterInfoDelete] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterItemTimer]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterItemTimer](
	[CharacterID] [int] NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[ItemTimerType] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[TimeLeft] [int] NOT NULL,
	[TimeTotal] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterMonsterKillTracker]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterMonsterKillTracker](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CharacterID] [int] NOT NULL,
	[MonsterID] [int] NOT NULL,
	[MonsterName] [varchar](32) NOT NULL,
	[KillCount] [int] NOT NULL,
 CONSTRAINT [PK_CharacterMonsterKillTracker] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterPvP]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterPvP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[Kills] [int] NOT NULL,
	[Deaths] [int] NOT NULL,
	[KillStreak] [int] NOT NULL,
	[TopPvP] [int] NOT NULL,
 CONSTRAINT [PK_CharacterPvP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterQuest]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterQuest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[QuestRewardID] [int] NOT NULL,
	[CharacterID] [int] NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[CharacterName] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[MonsterCount] [varchar](64) NULL,
	[ItemCount] [varchar](64) NULL,
	[TimeLeft] [int] NOT NULL,
	[Counter] [int] NULL,
 CONSTRAINT [PK_CharacterQuest2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharacterTitleList]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterTitleList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CharacterID] [int] NOT NULL,
	[TitleID] [int] NOT NULL,
	[DateAcquired] [datetime] NOT NULL,
 CONSTRAINT [PK_CharacterTitleList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassDef]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassDef](
	[ClassID] [int] NOT NULL,
	[ClassName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ClassDef] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemBox]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemBox](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[ItemCode] [varchar](32) NOT NULL,
	[Item] [varchar](32) NULL,
	[ItemSpec] [int] NOT NULL,
	[CoinShop] [int] NOT NULL,
	[HasItem] [int] NULL,
	[DateReceived] [datetime] NULL,
 CONSTRAINT [PK_ItemBox] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationData]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[Message] [varchar](100) NOT NULL,
	[Checked] [int] NOT NULL,
 CONSTRAINT [PK_NotificationData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TitleDef]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TitleDef](
	[TitleID] [int] NOT NULL,
	[TitleCategory] [varchar](16) NOT NULL,
	[SubCategory] [varchar](16) NULL,
	[Title] [varchar](21) NOT NULL,
	[TitleRarity] [smallint] NOT NULL,
 CONSTRAINT [PK_TitleDef] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [varchar](32) NOT NULL,
	[Password] [varchar](64) NOT NULL,
	[RegisDay] [varchar](50) NOT NULL,
	[Flag] [int] NOT NULL,
	[Active] [int] NOT NULL,
	[ActiveCode] [varchar](50) NOT NULL,
	[Coins] [int] NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[GameMasterType] [int] NOT NULL,
	[GameMasterLevel] [int] NOT NULL,
	[GameMasterMacAddress] [varchar](20) NOT NULL,
	[CoinsTraded] [int] NOT NULL,
	[BanStatus] [int] NOT NULL,
	[UnbanDate] [datetime] NULL,
	[IsMuted] [int] NOT NULL,
	[MuteCount] [int] NOT NULL,
	[UnmuteDate] [datetime] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CharacterExpDef] ([Level], [ExpRequired]) VALUES (1, 0)
INSERT [dbo].[CharacterExpDef] ([Level], [ExpRequired]) VALUES (2, 1000)
INSERT [dbo].[CharacterExpDef] ([Level], [ExpRequired]) VALUES (3, 2500)
GO
SET IDENTITY_INSERT [dbo].[CharacterInfo] ON 

INSERT [dbo].[CharacterInfo] ([ID], [AccountName], [Name], [OldHead], [Level], [Experience], [Gold], [JobCode], [ClanID], [ClanPermission], [ClanLeaveDate], [LastSeenDate], [BlessCastleScore], [FSP], [LastStage], [IsOnline], [Seasonal], [GMLevel], [Banned], [Title], [DialogSkin], [LevelUpDate]) VALUES (1, N'test_fs_20', N'test_fs_20', N'', 20, 0, 0, 1, 0, 0, 0, CAST(N'2022-09-24T18:42:03.907' AS DateTime), 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL)
INSERT [dbo].[CharacterInfo] ([ID], [AccountName], [Name], [OldHead], [Level], [Experience], [Gold], [JobCode], [ClanID], [ClanPermission], [ClanLeaveDate], [LastSeenDate], [BlessCastleScore], [FSP], [LastStage], [IsOnline], [Seasonal], [GMLevel], [Banned], [Title], [DialogSkin], [LevelUpDate]) VALUES (2, N'test_fs_40', N'test_fs_40', N'', 40, 0, 0, 1, 0, 0, 0, CAST(N'2022-09-24T18:42:03.910' AS DateTime), 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL)
INSERT [dbo].[CharacterInfo] ([ID], [AccountName], [Name], [OldHead], [Level], [Experience], [Gold], [JobCode], [ClanID], [ClanPermission], [ClanLeaveDate], [LastSeenDate], [BlessCastleScore], [FSP], [LastStage], [IsOnline], [Seasonal], [GMLevel], [Banned], [Title], [DialogSkin], [LevelUpDate]) VALUES (3, N'test_fs_60', N'test_fs_60', N'', 60, 0, 0, 1, 0, 0, 0, CAST(N'2022-09-24T18:42:03.910' AS DateTime), 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[CharacterInfo] OFF
GO
INSERT [dbo].[CharacterItemTimer] ([CharacterID], [CharacterName], [ItemTimerType], [ItemID], [TimeLeft], [TimeTotal]) VALUES (78, N'aglob', 18, 135018496, 259200, 259200)
INSERT [dbo].[CharacterItemTimer] ([CharacterID], [CharacterName], [ItemTimerType], [ItemID], [TimeLeft], [TimeTotal]) VALUES (79, N'Administrador', 1, 134941952, 86397, 86400)
GO
SET IDENTITY_INSERT [dbo].[CharacterPvP] ON 

INSERT [dbo].[CharacterPvP] ([ID], [CharacterName], [Kills], [Deaths], [KillStreak], [TopPvP]) VALUES (1, N'aglob', 0, 0, 0, 0)
INSERT [dbo].[CharacterPvP] ([ID], [CharacterName], [Kills], [Deaths], [KillStreak], [TopPvP]) VALUES (2, N'Administrador', 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[CharacterPvP] OFF
GO
SET IDENTITY_INSERT [dbo].[CharacterQuest] ON 

INSERT [dbo].[CharacterQuest] ([ID], [QuestID], [QuestRewardID], [CharacterID], [AccountName], [CharacterName], [StartDate], [EndDate], [MonsterCount], [ItemCount], [TimeLeft], [Counter]) VALUES (1, 4000, 4000, 79, N'test_fs_40', N'Administrador', CAST(N'2022-09-24T23:23:16.633' AS DateTime), CAST(N'2022-09-24T23:23:16.633' AS DateTime), N'', N'', 0, 1)
INSERT [dbo].[CharacterQuest] ([ID], [QuestID], [QuestRewardID], [CharacterID], [AccountName], [CharacterName], [StartDate], [EndDate], [MonsterCount], [ItemCount], [TimeLeft], [Counter]) VALUES (2, 4010, 4010, 79, N'test_fs_40', N'Administrador', CAST(N'2022-09-24T23:23:16.637' AS DateTime), CAST(N'2022-09-24T23:23:16.637' AS DateTime), N'', N'', 0, 1)
INSERT [dbo].[CharacterQuest] ([ID], [QuestID], [QuestRewardID], [CharacterID], [AccountName], [CharacterName], [StartDate], [EndDate], [MonsterCount], [ItemCount], [TimeLeft], [Counter]) VALUES (3, 4020, 4020, 79, N'test_fs_40', N'Administrador', CAST(N'2022-09-24T23:23:16.640' AS DateTime), CAST(N'2022-09-24T23:23:16.640' AS DateTime), N'', N'', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[CharacterQuest] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemBox] ON 

INSERT [dbo].[ItemBox] ([ID], [AccountName], [ItemCode], [Item], [ItemSpec], [CoinShop], [HasItem], [DateReceived]) VALUES (1, N'test_fs_40', N'BI113', NULL, 0, 1, NULL, CAST(N'2022-09-25T10:16:48.953' AS DateTime))
SET IDENTITY_INSERT [dbo].[ItemBox] OFF
GO
INSERT [dbo].[TitleDef] ([TitleID], [TitleCategory], [SubCategory], [Title], [TitleRarity]) VALUES (1, N'Seasonal', NULL, N'S1 Participant', 2)
INSERT [dbo].[TitleDef] ([TitleID], [TitleCategory], [SubCategory], [Title], [TitleRarity]) VALUES (2, N'Seasonal', NULL, N'S1 Contender', 3)
INSERT [dbo].[TitleDef] ([TitleID], [TitleCategory], [SubCategory], [Title], [TitleRarity]) VALUES (3, N'Seasonal', NULL, N'S1 Legend', 4)
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([ID], [AccountName], [Password], [RegisDay], [Flag], [Active], [ActiveCode], [Coins], [Email], [GameMasterType], [GameMasterLevel], [GameMasterMacAddress], [CoinsTraded], [BanStatus], [UnbanDate], [IsMuted], [MuteCount], [UnmuteDate]) VALUES (1, N'test_fs_20', N'AE32E4CAE4B63FFCA2755347EE618197F1D09C0E5CDEDDC6D96A944044A68A9D', N'Set 24 2022  6:42PM', 114, 1, N'0', 1500, N'test@invalid.email.com', 1, 4, N'0', 0, 0, NULL, 0, 0, NULL)
INSERT [dbo].[UserInfo] ([ID], [AccountName], [Password], [RegisDay], [Flag], [Active], [ActiveCode], [Coins], [Email], [GameMasterType], [GameMasterLevel], [GameMasterMacAddress], [CoinsTraded], [BanStatus], [UnbanDate], [IsMuted], [MuteCount], [UnmuteDate]) VALUES (2, N'test_fs_40', N'4D4729ED9594D2739C7F22591861EAEE0A7C3D72DC63E6B5D626DDF2641A1B7D', N'Set 24 2022  6:42PM', 114, 1, N'0', 675, N'test@invalid.email.com', 1, 4, N'0', 0, 0, NULL, 0, 0, NULL)
INSERT [dbo].[UserInfo] ([ID], [AccountName], [Password], [RegisDay], [Flag], [Active], [ActiveCode], [Coins], [Email], [GameMasterType], [GameMasterLevel], [GameMasterMacAddress], [CoinsTraded], [BanStatus], [UnbanDate], [IsMuted], [MuteCount], [UnmuteDate]) VALUES (3, N'test_fs_60', N'649DEFB0502BEDC2A1FC0132E035CB1DB2A2550208DC9C6BD2DC276230D5465B', N'Set 24 2022  6:42PM', 114, 1, N'0', 1500, N'test@invalid.email.com', 1, 4, N'0', 0, 0, NULL, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
ALTER TABLE [dbo].[CharacterInfoDelete] ADD  CONSTRAINT [DF_CharacterInfoDelete_Seasonal]  DEFAULT ((0)) FOR [Seasonal]
GO
ALTER TABLE [dbo].[CharacterInfoDelete] ADD  CONSTRAINT [DF_CharacterInfoDelete_GMLevel]  DEFAULT ((0)) FOR [GMLevel]
GO
ALTER TABLE [dbo].[CharacterInfoDelete] ADD  CONSTRAINT [DF_CharacterInfoDelete_Banned]  DEFAULT ((0)) FOR [Banned]
GO
ALTER TABLE [dbo].[CharacterPvP] ADD  CONSTRAINT [DF_CharacterPvP_TopPvP]  DEFAULT ((0)) FOR [TopPvP]
GO
ALTER TABLE [dbo].[CharacterQuest] ADD  CONSTRAINT [DF_CharacterQuest2_CharacterID]  DEFAULT ((0)) FOR [CharacterID]
GO
ALTER TABLE [dbo].[CharacterQuest] ADD  CONSTRAINT [DF_CharacterQuest2_TimeLeft]  DEFAULT ((0)) FOR [TimeLeft]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_Flag]  DEFAULT ((98)) FOR [Flag]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_BanStatus]  DEFAULT ((0)) FOR [BanStatus]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_IsMuted]  DEFAULT ((0)) FOR [IsMuted]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_MuteCount]  DEFAULT ((0)) FOR [MuteCount]
GO
/****** Object:  StoredProcedure [dbo].[GiveWantedMoriphTitlesBasedOnKills]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GiveWantedMoriphTitlesBasedOnKills]
AS
BEGIN

	SET NOCOUNT ON;

    DELETE FROM [UserDB].[dbo].[CharacterTitleList] WHERE TitleID IN (50, 51, 52, 53, 54)

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 50, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1258 AND CMKT.KillCount > 50

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 51, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1258 AND CMKT.KillCount > 250

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 52, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1258 AND CMKT.KillCount > 500

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 53, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1258 AND CMKT.KillCount > 1250

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 54, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1258 AND CMKT.KillCount > 2500

END
GO
/****** Object:  StoredProcedure [dbo].[GiveWantedWolfTitlesBasedOnKills]    Script Date: 2026/3/14 0:19:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GiveWantedWolfTitlesBasedOnKills]
AS
BEGIN

	SET NOCOUNT ON;

    DELETE FROM [UserDB].[dbo].[CharacterTitleList] WHERE TitleID IN (70, 71, 72, 73, 74)

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 70, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1253 AND CMKT.KillCount > 50

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 71, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1253 AND CMKT.KillCount > 250

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 72, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1253 AND CMKT.KillCount > 500

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 73, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1253 AND CMKT.KillCount > 1250

	INSERT INTO [UserDB].[dbo].[CharacterTitleList] ([CharacterID],[TitleID],[DateAcquired])
	SELECT CMKT.CharacterID, 74, GetDate()
	FROM [UserDB].[dbo].[CharacterMonsterKillTracker] AS CMKT
	WHERE CMKT.MonsterID = 1253 AND CMKT.KillCount > 2500

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'UserInfo', @level2type=N'COLUMN',@level2name=N'Password'
GO
