<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.gamedb.mapper.AgeListMapper">

    <!-- C++ itemserver.cpp -->
    <select id="selectByAgeNumber" resultType="org.jpstale.dao.gamedb.entity.AgeList">
        SELECT * FROM gamedb.age_list WHERE age_number = #{ageNumber}
    </select>

</mapper>
