<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.gamedb.mapper.ItemSpecModMapper">

    <!-- C++ itemserver.cpp:4433 -->
    <select id="selectAddSpecClassAndPercentReq" resultType="org.jpstale.dao.gamedb.entity.ItemSpecMod">
        SELECT add_spec_class01, add_spec_class02, add_spec_class03, add_spec_class04, add_spec_class05, add_spec_class06, add_spec_class07, add_spec_class08, add_spec_class09, add_spec_class10, item_type, percent_req_strength, percent_req_spirit, percent_req_talent, percent_req_agility, percent_req_health FROM gamedb.item_spec_mod
    </select>

</mapper>
