<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jpstale.dao.gamedb.mapper.MapNpcMapper">

    <!-- C++ unitinfo.cpp -->
    <select id="selectCountByStage" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM gamedb.map_npc WHERE stage = #{stage}
    </select>
    <select id="selectByStage" resultType="org.jpstale.dao.gamedb.entity.MapNpc">
        SELECT * FROM gamedb.map_npc WHERE stage = #{stage}
    </select>
    <!-- servercommand.cpp -->
    <delete id="deleteByStageAndXAndZ">
        DELETE FROM gamedb.map_npc WHERE stage = #{stage} AND x = #{x} AND z = #{z}
    </delete>
    <insert id="insertMapNpc">
        INSERT INTO gamedb.map_npc (stage, x, y, z, idnpc, angle, description, respawn) VALUES (#{stage}, #{x}, #{y}, #{z}, #{idnpc}, #{angle}, #{description}, #{respawn})
    </insert>
    <!-- mapserver.cpp -->
    <update id="updateXYZByIdnpcAndStage">
        UPDATE gamedb.map_npc SET x = #{x}, y = #{y}, z = #{z} WHERE idnpc = (SELECT id FROM gamedb.npc_list WHERE name = #{npcName}) AND stage = #{stage}
    </update>
    <update id="updateAngleByIdnpcAndStage">
        UPDATE gamedb.map_npc SET angle = #{angle} WHERE idnpc = (SELECT id FROM gamedb.npc_list WHERE name = #{npcName}) AND stage = #{stage}
    </update>

</mapper>
